In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [26]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data",names = ['buying','main','doors','persons','lug_boot','safety','class'])
df

     buying   main  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [27]:
pd.unique(df['class'])

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)

In [28]:
le_buying = LabelEncoder()
le_buying.fit(['low','med', 'high','vhigh'])
df['buying'] = le_buying.transform(df['buying'])
df['main'] = le_buying.transform(df['main'])

le_doors = LabelEncoder()
le_doors.fit(['2', '3', '4', '5more'])
df['doors'] = le_doors.transform(df['doors'])+2

le_persons = LabelEncoder()
le_persons.fit(['2', '4', 'more'])
df['persons'] = le_persons.transform(df['persons'])

le_lug = LabelEncoder()
le_lug.fit(['small', 'med', 'big'])
df['lug_boot'] = le_lug.transform(df['lug_boot'])

le_saf = LabelEncoder()
le_saf.fit(['low', 'med', 'high'])
df['safety'] = le_saf.transform(df['safety'])

le_class = LabelEncoder()
le_class.fit(['unacc', 'acc', 'vgood', 'good'])
df['class'] = le_class.transform(df['class'])

df

      buying  main  doors  persons  lug_boot  safety  class
0          3     3      2        0         2       1      2
1          3     3      2        0         2       2      2
2          3     3      2        0         2       0      2
3          3     3      2        0         1       1      2
4          3     3      2        0         1       2      2
...      ...   ...    ...      ...       ...     ...    ...
1723       1     1      5        2         1       2      1
1724       1     1      5        2         1       0      3
1725       1     1      5        2         0       1      2
1726       1     1      5        2         0       2      1
1727       1     1      5        2         0       0      3

[1728 rows x 7 columns]

In [29]:
df[df.notnull()]

      buying  main  doors  persons  lug_boot  safety  class
0          3     3      2        0         2       1      2
1          3     3      2        0         2       2      2
2          3     3      2        0         2       0      2
3          3     3      2        0         1       1      2
4          3     3      2        0         1       2      2
...      ...   ...    ...      ...       ...     ...    ...
1723       1     1      5        2         1       2      1
1724       1     1      5        2         1       0      3
1725       1     1      5        2         0       1      2
1726       1     1      5        2         0       2      1
1727       1     1      5        2         0       0      3

[1728 rows x 7 columns]

In [30]:
train, test = train_test_split(df)
clf = LogisticRegression().fit(train.drop('class',axis=1),train['class'])
test['prediction'] = clf.predict(test.drop('class',axis=1))
accuracy_score(test['class'], test['prediction'])

/home/rick/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.6990740740740741

In [31]:
from sklearn.tree import DecisionTreeClassifier
train, test = train_test_split(df)
clf = DecisionTreeClassifier().fit(train.drop('class',axis=1),train['class'])
test['prediction'] = clf.predict(test.drop('class',axis=1))
accuracy_score(test['class'], test['prediction'])

0.9907407407407407

In [32]:
from sklearn.ensemble import RandomForestClassifier
train, test = train_test_split(df)
clf = RandomForestClassifier().fit(train.drop('class',axis=1),train['class'])
test['prediction'] = clf.predict(test.drop('class',axis=1))
accuracy_score(test['class'], test['prediction'])

0.9768518518518519

In [33]:
from sklearn.ensemble import AdaBoostClassifier
train, test = train_test_split(df)
clf = AdaBoostClassifier().fit(train.drop('class',axis=1),train['class'])
test['prediction'] = clf.predict(test.drop('class',axis=1))
accuracy_score(test['class'], test['prediction'])

0.75

In [34]:
from sklearn.naive_bayes import GaussianNB
train, test = train_test_split(df)
clf = GaussianNB().fit(train.drop('class',axis=1),train['class'])
test['prediction'] = clf.predict(test.drop('class',axis=1))
accuracy_score(test['class'], test['prediction'])

0.6296296296296297

In [35]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
train, test = train_test_split(df)
clf = QuadraticDiscriminantAnalysis().fit(train.drop('class',axis=1),train['class'])
test['prediction'] = clf.predict(test.drop('class',axis=1))
accuracy_score(test['class'], test['prediction'])

/home/rick/.local/lib/python3.10/site-packages/sklearn/discriminant_analysis.py:926: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")
/home/rick/.local/lib/python3.10/site-packages/sklearn/discriminant_analysis.py:951: RuntimeWarning: divide by zero encountered in power
  X2 = np.dot(Xm, R * (S ** (-0.5)))
/home/rick/.local/lib/python3.10/site-packages/sklearn/discriminant_analysis.py:951: RuntimeWarning: invalid value encountered in multiply
  X2 = np.dot(Xm, R * (S ** (-0.5)))
/home/rick/.local/lib/python3.10/site-packages/sklearn/discriminant_analysis.py:954: RuntimeWarning: divide by zero encountered in log
  u = np.asarray([np.sum(np.log(s)) for s in self.scalings_])

0.041666666666666664

In [38]:
import xgboost as xgb
import copy
df_copy = copy.deepcopy(df)
clf = xgb.XGBRFClassifier().fit(df_copy.drop('class',axis=1),df_copy['class'])
df_copy['prediction'] = clf.predict(df_copy.drop('class',axis=1))
accuracy_score(df_copy['class'], df_copy['prediction'])

0.9340277777777778